#yarns-admin-area #yarns-logo {
    height:3rem;
    position:relative;
    margin-bottom: 2rem;
}

#yarns-admin-area #yarns-logo img{
    height:100%;
    transform: translateY(28%);
}

#yarns-admin-area #yarns-logo #yarns-subheading {
    font-size:1rem;
}

#yarns-admin-area h2 {
    margin: 2em 0 1em;
}

#yarns-sidebar {
    float:left;
    max-width:200px;
    min-width:200px;
    width:20%;
    overflow:hidden;
}

#yarns-channels {
    list-style:none;
}

#yarns-new-channel-name {
    display:none;
}



#yarns-channel-options {
    float:left;
    max-width:800px;
    width:70%;
    margin-left:2em;
}

#yarns-option-heading {

}

#yarns-channel-update-options {
    display:none;
    margin: 1em 0;
}

#yarns-channel-update{
    /* "rename channel" button */
    cursor:pointer;

    color:darkslategrey;
}

#yarns-channel-delete {
    /* "delete channel" button */
    cursor:pointer;
    float:right;
    color:darkred;
}

.yarns-channel {
    cursor:pointer;
    border: 1px solid #0000004d;
    box-shadow: 1px 1px 0px #0006;
    padding: 1em;
    margin: -1px 0 0 0;
    position:relative;
}

.yarns-channel:hover {
    background: #ddd;
}
.yarns-channel.selected {
    background: #de6a28;
    color: white;
    /*text-shadow: 1px 1px 1px black;*/
}


.yarns-channel span {
    font-size:1rem;
}


.yarns-channel .yarns-channel-filters {
    display:none;

}


#yarns-sidebar button, #yarns-channel-options  button{
    background: #6c6868;
    padding: .2rem 1.3rem;
    font-size: medium;
    border: 1px solid #00004d;
    /*box-shadow: 1px 1px 0 #000006;*/
    color: #eee;
    cursor:pointer;
    position:relative;
    border-radius: 2px;
}

button#yarns-channel-add-feed {
    /*display:none;*/
}
#yarns-channel-options .yarns-channel-filters label {
    cursor: pointer;
    padding: 0 1rem 1rem 0;
    display: inline-block;
    width:150px;
}

#yarns-options-uid {
    display:none;
}

#yarns-feed-picker-list label {
    display:block;
}


/* List of currently followed feeds */
#yarns-following-list li {
    margin: 1rem 0;

}

#yarns-following-list li button.yarns-unfollow{
    margin-left:0.5rem;
    background: #439b50;
    padding: .2rem;
    min-width:90px;
    font-size: small;
}

#yarns-following-list li:hover button.yarns-unfollow{
    background: #d14933;
    font-size: small;
}

#yarns-following-list li button.yarns-unfollow::after{
    content: "Following";
}

#yarns-following-list li:hover button.yarns-unfollow::after{
    content: "Unfollow";
}

/* Debug log area */
#yarns-debug-log-area {
    clear:both;
    padding-top: 2rem;
}

#yarns-debug-log {
    width:100%;
    height: 20rem;
    overflow:scroll;
    border: 1px inset grey;
}

/* Loading spinner */


.yarns-loading {
    background: url(../images/Wedges.svg) no-repeat top right;
    background-size: 100% auto;
    height:100%;

    height: 1rem;
    width: 1rem;

    position:absolute;
    top:.2rem;
    right:.2rem;
}



/* Modal for previews */
/* The Modal (background) */
#yarns-preview-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.yarns-preview-container {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.yarns-preview-container .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.yarns-preview-container .close:hover,
.yarns-preview-container .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}