#yarns-admin-area #yarns-logo {
    height: 3rem;
    position: relative;
    margin-bottom: 2rem;
}

#yarns-admin-area #yarns-logo img {
    height: 100%;
    transform: translateY(28%);
}

#yarns-admin-area #yarns-logo #yarns-subheading {
    font-size: 1rem;
}

#yarns-admin-area h2 {
    margin: 2em 0 1em;
}


/* Links in list tables */
.wp-list-table .row-actions a {
    cursor: pointer;
}

#yarns-channel-options {
    max-width: 800px;
}

.yarns-error, .yarns-notice {
    width: auto;
    padding: 5px;
}

.yarns-error {
    color: #e63013;
    border: 1px dotted #e63013;
    width: auto;
    padding: 5px;
}

.yarns-notice {
    color: #000;
    background-color: #feeb95;
    border: 1px dotted #e6c737;
    border-radius: 5px;

}

#yarns-channel-update-options {
    margin: 1em 0;
}


/* Channel list table - css for sortable  table*/
/* Wordpress list tables */
#yarns-channels table.wp-list-table {
    max-width: 600px;
}

#yarns-channels table.wp-list-table tr td {
    box-sizing: border-box;
}

#yarns-channels table.wp-list-table tr.ui-sortable-helper td {

}

#yarns-channels table.wp-list-table tr:hover td {
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
}

#yarns-channels table.wp-list-table tr:hover td:first-of-type {
    border-left: 1px solid grey;
}

#yarns-channels table.wp-list-table tr:hover td:last-of-type {
    border-right: 1px solid grey;
}


#yarns-channels table.wp-list-table tr:hover {
    cursor: move;
}

/** .ui-sortable-helped is added to sortable items as they are being dragged.
 *  This section overwrites some of the styling used for that helper element.
 */

#yarns-channels .ui-sortable-helper {
    border: 1px solid grey;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .04);

}

#yarns-channels tr.ui-sortable-helper  td {
    border: none!important;

}

#yarns-channels .ui-sortable-helper .n_feeds, #yarns-channels .ui-sortable-helper .order {
    display: none;
}


/***/


#yarns-channel-delete {
    /* "delete channel" button */
    /*cursor:pointer;*/
    float: right;
    /*color:darkred;*/
}

.yarns-channel {
    cursor: pointer;
    border: 1px solid #0000004d;
    box-shadow: 1px 1px 0px #0006;
    padding: 1em;
    margin: -1px 0 0 0;
    position: relative;
}

.yarns-channel:hover {
    background: #ddd;
}

.yarns-channel.selected {
    background: #de6a28;
    color: white;
    /*text-shadow: 1px 1px 1px black;*/
}


.yarns-channel span {
    font-size: 1rem;
}


.yarns-channel .yarns-channel-filters {
    display: none;

}


#yarns-sidebar button, #yarns-channel-options button {
    background: #6c6868;
    padding: .2rem 1.3rem;
    font-size: medium;
    border: 1px solid #00004d;
    /*box-shadow: 1px 1px 0 #000006;*/
    color: #eee;
    cursor: pointer;
    position: relative;
    border-radius: 2px;
}

#yarns-channel-options .yarns-channel-filters label {
    cursor: pointer;
    padding: 0 1rem 1rem 0;
    display: inline-block;
    width: 150px;
}

#yarns-options-uid {
    display: none;
}

#yarns-feed-picker-list label {
    display: block;
}


/* List of currently followed feeds */
#yarns-following-list li {
    margin: 1rem 0;

}

#yarns-following-list li button.yarns-unfollow {
    margin-left: 0.5rem;
    background: #439b50;
    padding: .2rem;
    min-width: 90px;
    font-size: small;
}

#yarns-following-list li:hover button.yarns-unfollow {
    background: #d14933;
    font-size: small;
}

#yarns-following-list li button.yarns-unfollow::after {
    content: "Following";
}

#yarns-following-list li:hover button.yarns-unfollow::after {
    content: "Unfollow";
}


/* Debug log area */
#yarns-debug-log-area {
    clear: both;
    padding-top: 2rem;
}

#yarns-debug-log {
    width: 100%;
    height: 20rem;
    overflow: scroll;
    border: 1px inset grey;
}

/* Loading spinner */


.yarns-loading {
    padding-right: 1.5rem !important;
    position: relative;
}

.yarns-loading:after {
    background: url(../images/Wedges.svg) no-repeat top right;
    background-size: 100% auto;
    height: 100%;
    content: ' ';
    height: 1.2rem;
    width: 1.2rem;

    position: absolute;
    top: .2rem;
    right: .2rem;

    /*content: url('../images/Wedges.svg');*/

}

/*

}
*/


/* Modal for previews */
/* The Modal (background) */

#yarns-preview-outer-container {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9991;
    background: #000000b3;
}

#yarns-preview-inner-container {

    margin: 50px auto;
    width: 90vw;
    height: 90vh;
    max-width: 500px;
    position: static;
    background-color: #32373c;
    overflow: hidden;
    border: 1px solid #c9c9c9;
}

#yarns-preview-header {
    font-weight: bold;
    position: relative;
    color: rgba(240, 245, 250, 0.7);
    height: 32px;
    padding: 4px;
}

#yarns-preview-url {
    font-weight: normal;
}

#yarns-preview-close {
    float: right;
}

#yarns-preview-container {
    position: relative;
    overflow: scroll;
    background: white;
    color: #72777c;
    height: 100%;
    width: 100%;
}

.yarns-preview-item > div, .yarns-preview-item > h2 {
    padding-left: 2rem;
    padding-right: 2rem;
}

#yarns-preview-container img {
    max-width: 100%;
    height: auto;
}

.yarns-preview-item {
    margin: 1rem 0;
    border-bottom: 1px solid #c9c9c9;
}

.yarns-preview-author img {
    max-height: 50px;
    max-width: 50px;
}

.yarns-preview-published {
    color: #898989;
    font-size: smaller;
}

.yarns-preview-content {
    padding-top: 2rem;
}

.yarns-preview-author span {
    vertical-align: top;
    font-weight: bold;
    margin-left: 1rem;
}


.noscroll {
    overflow: hidden;
}