.DS_Store
composer.phar
composer.lock
vendor/*
!/vendor/autoload.php
!/vendor/composer
!/vendor/mf2
/vendor/mf2/mf2/*
!/vendor/mf2/mf2/Mf2
!/vendor/mf2/mf2/LICENSE.md
!/vendor/masterminds
/vendor/masterminds/html5/*
!/vendor/masterminds/html5/src
vendor/parse-this/*
!vendor/parse-this/parse-this.php
!vendor/parse-this/LICENSE
!vendor/parse-this/readme.md
!vendor/parse-this/readme.txt
!vendor/parse-this/vendor
!vendor/parse-this/includes
